<div class="page-container">
  <!-- شريط الأدوات: يحتوي على البحث وأي أزرار مستقبلية -->
  <div
    class="toolbar"
    style="margin-bottom: 1rem; display: flex; justify-content: space-between; align-items: center"
  >
    <!-- الشريط العلوي مع منطقة البحث بالأزرار الموحدة -->
    <app-page-header [buttons]="headerButtons" (actionClicked)="onHeaderAction($event)">
      <app-input
        search-zone
        placeholder="Search clients by name..."
        [value]="searchQuery()"
        (valueChange)="searchQuery.set($event)"
      />
    </app-page-header>
  </div>

  <!-- الجدول المربوط بالبيانات المفلترة -->
  <!-- clients.component.html -->
  <app-table
    [data]="filteredsales()"
    [columns]="tableColumns"
    [actions]="tableActions"
    [selectable]="true"
    [totalItems]="totalClientsCount()"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
    (actionClick)="onTableActionTrigger($event)"
    (selectionChange)="onRowsSelected($event)"
    (pageChange)="onPageParamsChange($event)"
    [emptyMessage]="'No clients found.'"
  >
  </app-table>
</div>
