<button
  [type]="resolvedConfig().type"
  [disabled]="resolvedConfig().disabled || resolvedConfig().loading"
  [className]="buttonClasses()"
  (click)="onClick($event)"
>
  @if (resolvedConfig().loading) {
    <span class="btn-spinner" aria-hidden="true"></span>
  } @else {
    @if (resolvedConfig().icon; as btnIcon) {
      <lucide-icon [img]="btnIcon" class="btn-icon" aria-hidden="true"></lucide-icon>
    }

    <span class="btn-content">
      <ng-content>
        {{ resolvedConfig().label }}
      </ng-content>
    </span>
  }
</button>
