<div class="bank-wrapper">
  <section class="bank-top-section">
    <div class="chart-wrapper">
      <app-columns-chart
        title="All Accounts (Days)"
        [data]="analyticsData()"
        [animations]="isAnimated()"
        [showGridLines]="showGrid()"
      >
      </app-columns-chart>
      <app-columns-chart
        title="All Accounts (Months)"
        [data]="analyticsData()"
        [animations]="isAnimated()"
        [showGridLines]="showGrid()"
      >
      </app-columns-chart>
    </div>
  </section>

  <section class="bank-tables-grid">
    <app-table
      [data]="alerts()"
      [columns]="bankTableColumns"
      [actions]="acctionsBankTableColumns"
      [selectable]="true"
      [emptyMessage]="'No alerts found.'"
      [showPagination]="false"
    ></app-table>
  </section>
</div>
