<div class="page-container">
  @if (config().layout.showToolbar) {
    <div class="toolbar">
      <!-- Default search-->
      <app-input [config]="searchConfig()" [(value)]="searchQuery" />

      <!-- Optional custom search/filter content -->
      <ng-content select="[toolbar-search-zone]"></ng-content>

      <!-- Standard actions -->
      <div class="toolbar-actions">
        @for (button of config().headerButtons ?? []; track button.key) {
          <app-button [config]="button.buttonConfig" (btnClick)="onHeaderAction(button.key)" />
        }

        <!-- Optional custom actions -->
        <ng-content select="[toolbar-actions-zone]"></ng-content>
      </div>
    </div>
  }

  @if (config().layout.showTabs) {
    <div class="tabs-buttons">
      @for (tab of config().tabs ?? []; track tab.key) {
        <app-button [config]="tab.buttonConfig" (btnClick)="onTabClick(tab.key)" />
      }
    </div>
  }

  @if (config().layout.showTable) {
    <app-table
      [config]="config().table"
      (selectionChange)="onTableSelectionChange($event)"
      (pageChange)="onTablePageChange($event)"
      (actionClick)="onTableActionClick($event)"
    />
  }
</div>
