<div class="page-container">
  <div class="toolbar">
    <app-select [config]="subjectSelectOptions" (valueChange)="onRoleChange($event)" />
    <app-select [config]="eventSelectOptions" (valueChange)="onRoleChange($event)" />
    <app-select [config]="periodSelectOptions" (valueChange)="onRoleChange($event)" />
    <app-input
      search-zone
      [value]="searchQuery()"
      [label]="'From'"
      (valueChange)="searchQuery.set($event)"
      [type]="'date'"
    />
    <app-input
      search-zone
      [value]="searchQuery()"
      [label]="'To'"
      (valueChange)="searchQuery.set($event)"
      [type]="'date'"
    />
    <app-button variant="primary" (click)="onSearchAction($event)">Search</app-button>
  </div>

  <app-table
    [data]="filteredClients()"
    [columns]="tableColumns"
    [selectable]="true"
    [totalItems]="totalClientsCount()"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
    (actionClick)="onTableActionTrigger($event)"
    (selectionChange)="onRowsSelected($event)"
    (pageChange)="onPageParamsChange($event)"
    [emptyMessage]="'No suppliers found.'"
  >
  </app-table>
</div>
