<div class="page-container">
  <div class="toolbar">
    <app-page-header [buttons]="headerButtons" (actionClicked)="onHeaderAction($event)">
      <app-input
        search-zone
        placeholder="Search bills invoices by client name..."
        [value]="searchQuery()"
        (valueChange)="searchQuery.set($event)"
      />
    </app-page-header>
  </div>

  <div class="nav-items-buttons">
    @for (item of pageNavigationButtons; track $index) {
      <app-button
        [variant]="item.buttonConfig.variant ?? 'secondary'"
        [icon]="item.buttonConfig.icon"
        [title]="item.content"
        (btnClick)="onPageNavigationItemClick(item.key)"
      >
        {{ item.content }}
      </app-button>
    }
  </div>

  <app-table
    [data]="filteredPurchaseInvoices()"
    [columns]="tableColumns"
    [actions]="tableActions"
    [selectable]="true"
    [totalItems]="totalBillsInvoicesCount()"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
    (actionClick)="onTableActionTrigger($event)"
    (selectionChange)="onRowsSelected($event)"
    (pageChange)="onPageParamsChange($event)"
    [emptyMessage]="'No bills invoices found.'"
  >
  </app-table>
</div>
