<header class="page-header">
  <!-- 1. منطقة الفلاتر والبحث (Content Projection) -->
  <div class="page-header__search-zone">
    <ng-content select="[search-zone]"></ng-content>
  </div>

  @if (buttons().length > 0) {
    <div class="page-header__actions">
      @for (btn of buttons(); track btn.key) {
        <app-button
          [variant]="btn.variant ?? 'primary'"
          [disabled]="btn.disabled ?? false"
          [icon]="btn.icon!"
          (btnClick)="onButtonClick(btn.key)"
        >
          {{ btn.label }}
        </app-button>
      }
    </div>
  }
</header>
