<!-- src/app/features/assets-depreciation/assets/assets.component.html -->

<app-page-layout [config]="dataPageConfig">
  <!-- =====================================================
       SEARCH
       ===================================================== -->

  <div toolbar-search-zone>
    <app-input [config]="searchInput" [(value)]="searchQuery" />
  </div>

  <!-- =====================================================
       HEADER ACTIONS
       ===================================================== -->

  <div toolbar-actions-zone>
    @for (button of headerButtons; track button.key) {
      <app-button [config]="button.buttonConfig" (btnClick)="onHeaderAction(button.key)" />
    }
  </div>

  <!-- =====================================================
       TABLE
       ===================================================== -->

  <div table-zone>
    <app-table
      [config]="tableConfig()"
      (actionClick)="onTableAction($event)"
      (selectionChange)="onTableSelectionChange($event)"
      (pageChange)="onTablePageChange($event)"
    />
  </div>
</app-page-layout>
