<div class="analytics-card" [ngClass]="card().colorType ? 'card-' + card().colorType : ''">
  <div class="card-header">
    <div class="title-wrapper">
      <span class="card-title">{{ card().title }}</span>
      <div class="card-value-wrapper">
        <h2 class="card-value">{{ card().value }}</h2>
        @if (card().description) {
          <p class="card-description">{{ card().description }}</p>
        }
      </div>
    </div>
    <div class="icon-badge">
      <lucide-icon [name]="card().icon" aria-hidden="true"></lucide-icon>
    </div>
  </div>

  <div class="card-footer">
    <a [routerLink]="card().link" class="view-details-link"> View details </a>
  </div>
</div>
